@import "../shared/style/scss/variables";

div{
    position: relative;
    margin: 30px;
    h1,h2,h3{
        padding-top: 2%;
        text-align: center;
        font-weight: normal;
        font-family: $fontCursive; 
        color: $deepBlue;
    }

    img{
        margin: {
            left: auto;
            right: auto;
        }
        display: block;
        max-height: 300px;
    }
}
