<ul *ngIf="productPreview?.volumeInfo">
  <li>
    <span>
      <b>{{productPreview.volumeInfo.title | previewText: 30 }}</b>
    </span>
  </li>
  <li *ngIf="productPreview.volumeInfo.imageLinks?.smallThumbnail">
    <img [src]="productPreview.volumeInfo.imageLinks.smallThumbnail">
  </li>
  <li *ngIf="productPreview.volumeInfo?.subtitle">
    <h4>Subtitle:</h4>
    <p>{{productPreview.volumeInfo.subtitle | previewText: 30}}</p>
  </li>
  <li product-price [saleInfo]="productPreview.saleInfo">
    <span>
      <b>Price:</b>
    </span>

  </li>
</ul>